<div id="profile">
    <div>
        <img id="profilePicture" width="150" height="150" src="https://i.pinimg.com/736x/45/6c/f8/456cf85ea044fe12580466ab35c84300.jpg">
    </div>
    <div id="profileInfo">
        <h>Clara<br></h>
    </div>
</div>

<style>
    #profile {
        width: 80vh;
        display: flex;
        justify-content: space-between;
    }
    #profileInfo {
        display: block;
        justify-content: space-between;
    }
    #profilePicture{
        border-radius: 38px;
    }
</style>