---
import Layout from "../layouts/Layout.astro";


---

<script>
	const form = document.querySelector('#loginForm');
    form?.addEventListener('submit', (event) => {
        event.preventDefault();
    });

	const button = document.querySelector('button#submitButton');


	async function handleLogin() {

		const user_username = (document.querySelector('#username') as HTMLInputElement).value;
		const user_password = (document.querySelector('#password') as HTMLInputElement).value;



		await fetch('https://wishlist-api-test.claras.studio/userLogin', {
		body: JSON.stringify({
			user_username, user_password
		}),
		headers: {
			"content-type": "application/json"
		},
		method: "POST",
		credentials: "include"
		});
	}

	button?.addEventListener('click', () => {
		handleLogin();
	});
</script>
<Layout>
	<div>login page</div>
	<form id="loginForm">
		<label for="username">Username</label><br>
		<input placeholder="Insert your username..." type="text" id="username" name="username" required><br>

		<label for="password">Password</label><br>
		<input placeholder="Insert your password..." type="text" id="password" name="password" required>

		<button id="submitButton" type="submit">Login</button>
	</form>
</Layout>