---
import Profile from "../components/profile/Profile.astro"
import "../styles/global.css"
import Layout from "../layouts/Layout.astro"
import WishlistGrid from "../components/products-grid/ProductsGrid.astro"
---

<Layout>
	<div id="content">
		<Profile></Profile>

		<WishlistGrid></WishlistGrid>
	</div>
</Layout>

<style>

	#content {
		height: 100vh;
		max-width: 50rem;
		width: 100%;
		margin: 30px auto;
	}

</style>