<script>
    const form = document.querySelector('#addItemForm');
    form?.addEventListener('submit', (event) => {
        event.preventDefault();
    });

    const button = document.querySelector('button#submitButton');

    async function post() {
        const itemname = (document.querySelector('#itemname') as HTMLInputElement).value;
        const itemurl = (document.querySelector('#link') as HTMLInputElement).value;
        const imgurl = (document.querySelector('#image') as HTMLInputElement).value;
        const itemprice = (document.querySelector('#price') as HTMLInputElement).value;
        const itemcolor = (document.querySelector('#itemcolor') as HTMLInputElement).value;
        const itembrand = (document.querySelector('#itembrand') as HTMLInputElement).value;
        const itemsize = (document.querySelector('#itemsize') as HTMLInputElement).value;
   
        await fetch('http://localhost:2000/createNewWishlistItem', {
            body: JSON.stringify({
                itemname, itemurl, imgurl, itemprice, itemcolor, itembrand, itemsize
            }),
            headers: {
                "content-type": "application/json"
            },
            method: "POST"
        });

        location.reload();
    }


    button?.addEventListener('click', () => {
        post();
    });
</script>

<div id="popup">
    
    <form id="addItemForm">
        <div id="titlebox">
            <div id="title">
                <i class="fa fa-bookmark" aria-hidden="true"></i>
                Adicionar novo item
            </div>
            <button id="submitButton" type="submit">Adicionar</button>
        </div>
        

        <label for="itemname">Nome</label><br>
        <input placeholder="Adicione o nome do item" type="text" id="itemname" name="itemname" required>

        <label for="itembrand">Marca</label><br>
        <input placeholder="Adicione a marca ou origem do item (ex: M.A.C ou Temu)" type="text" id="itembrand" name="itembrand" required>
        <br>

        <label for="itemcolor">Cor</label><br>
        <input placeholder="Adicione a cor (swatch) do item" type="text" id="itemcolor" name="itemcolor">
        <br>

        <label for="itemsize">Tamanho</label><br>
        <input placeholder="Adicione o tamanho do item (ex: 39 ou M)" type="text" id="itemsize" name="itemsize">
        <br>

        <label for="imgurl">Imagem</label><br>
        <input placeholder="Adicione a url da imagem do produto" type="url" id="image" name="image" required>
        <br>
        <label for="itemprice">Preço</label><br>
        <input placeholder="Adicione o preço do produto" type="number" id="price" name="price" required>
        <br>
        <label for="itemlink">Link</label><br>
        <input placeholder="Adicione o link do produto" type="url" id="link" name="link" required>
        <br><br>
        
    </form>

    
</div>


<style>
    #popup {
        display: block;
        justify-content: center;
        width: 50vh;
        font-size: 15px;
        margin: 5px;
    }

    #itemname, #image, #price, #link, #itembrand, #itemcolor, #itemsize {
        border-color: rgb(238, 238, 238);
        border-style: dotted;
        border-radius: 5px;
        padding: 1vh;
        box-sizing: border-box;
        margin-bottom: 20px;
        width: 100%;
        font-family: 'Poppins';
    }

    #itemname:focus, #image:focus, #price:focus, #link:focus, #itembrand:focus, #itemcolor:focus, #itemsize:focus {
        outline-color: #ffc8dd;
    }

    .fa.fa-bookmark {
        color: #ffc8dd;
    }

    #title {
        font-weight: 600;
        font-size: 20px;
        display: flex;
        align-items: center;
        gap: 10px;

    }

    #titlebox {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        justify-content: space-between;
    }

    #submitButton {
        padding: 5px 2vh;
        border-radius: 20px;
        background-color: #ffc8dd;
        border: unset;
        font-family: 'Poppins';
        font-weight: 600;
        font-size: 15px;
        transition: background-color 0.3s;
        color: white;
    }

    #submitButton:hover {
        background-color: #ffa7c9;
    }
</style>